* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: black;

    ;
}  

  header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    margin-bottom: 20px
  }
  
 
  
a.navbar-brand{
    color: yellow;
    font-family: 'Kdam Thmor Pro', sans-serif ;
    text-decoration: underline;
}
h6{
    font-family: 'Kdam Thmor Pro', sans-serif;

    color: yellow;
}
a.nav-link{
    font-family: 'Kdam Thmor Pro', sans-serif ;
    color: yellow;
}